.vs
SpotPay.Common/bin
SpotPay.Common/obj
SpotPay.Data/bin
SpotPay.Data/obj
SpotPay.Presentation/bin
SpotPay.Presentation/obj
SpotPay.Repository/bin
SpotPay.Repository/obj
SpotPay.Service/bin
SpotPay.Service/obj